# General
.DS_Store

# Dependency directory
node_modules/

# Build
/.svelte-kit
/build
.output
.vercel
.netlify
.wrangler

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Cloudflare Types
/worker-configuration.d.ts

.dev.vars*
!.dev.vars.example

# Logs
logs
*.log
npm-debug.log*

